<div id="operations-table">
  <table class="simple-table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Kind</th>
        <th>Date</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% operations.each do |operation| %>
        <tr>
          <td><%= operation.account.name %></td>
          <td><%= operation.kind %></td>
          <td><%= operation.date %></td>
          <td><%= operation.value %></td>
          <td class="text-sm font-medium">
            <%= link_to "Details", operation, class: "text-indigo-600 hover:text-indigo-900" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="bg-gray-50">
      <tr>
        <% (1..(Operation.count / HomeController::OPERATION_PAGE_SIZE)).each do |page_index| %>
          <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <%= link_to page_index, home_path(page: page_index), class: "text-indigo-600 hover:text-indigo-900" %>
          </td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
