<div class="w-full">
  <%= render partial: "home/components/success_message", locals: { message: "" } %>

  <div class="flex justify-between space-x-4 w-full mb-8">
    <div class="w-1/2">
      <%= render partial: "home/components/operation_form", locals: { operation: @operation } %>
    </div>
    <div class="w-1/2">
      <div class="mb-8">
        <%= render partial: "home/components/accounts_list", locals: { accounts: @accounts } %>
      </div>
      <%= render partial: "home/components/chart" %>
    </div>
  </div>

  <%= render partial: "home/components/operations_table", locals: { operations: @operations, page: @page } %>
</div>
