<div id="<%= dom_id operation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= operation.kind %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= operation.value %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= operation.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= operation.account_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= operation.date %>
  </p>
</div>
